<%= flash[:notice] %>


<h1>User Info</h1>
 name<% current_user.name %><br>
introduction</br>
<h1>New Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  

<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
	
  <p>Opinion</p>
  <%= f.text_area :body %><br>

  
  <%= f.submit 'Create Book' %></br>
  
<% end %>