<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @users.each do |user| %>
<div>
  <%= link_to user_path(user.id) do %>
    <%= image_tag user.get_image %>
  <% end %>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", XXX %></p></div>
  
  詳細ページで表示しているユーザーの編集画面に飛ばす
  
  <% @book.each do |book| %
      <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>