<% if @user.id==@current_user.id %>
  <% link_to("edit", "users/#{@user.id}/edit") %>
<% end %>

<%= render 'users/pikachu', user: @user, book: @book_new %>
 <div class="col-md-8 offset-md-1">
     <h2>Books</h2>
      <table class="table">
           <thead>
           <tr>
             <th scope="col"></th>
             <th scope="col">Title</th>
             <th scope="col">Opinion</th>
           </tr>
          </thead>
            <% @book.each do |book|%>
          <tbody>
            <td>
                
                <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image %><br>
                <% end %>
                
            </td>
            <td>
                <%= link_to book.title, book_path(book.id) %>
            </td>
             <td>
                 <%= book.body %>
             <!--%= link_to "show" ,book_path(book.id), class:"show" %>-->
            </td>
            <% end %>
        </tr>
        </tbody>
    </table>
 </div>
  