 <div class="container mt-5">
   <div class="row">
     <div class="mx-auto">
       
<h1>Editing Book</h1>
<%= flash[:notice] %>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

   Title<br>
  <%= f.text_field :title %><br>
  
  opinion<br>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book', class:"btn btn-success" %>
<% end %>

<%= link_to "Show", books_path %>
 |
<%= link_to "Back", books_path %>